apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: {{ workflow_name }}
  labels:
    seekr-chain/job-id: {{ job_id }}
    seekr-chain/job-name: {{ job_name }}
    seekr-chain/user: {{ user }}
  annotations:
    seekr-chain/datastore-root: {{ datastore_root }}
spec:
  entrypoint: seekr-chain-main
  ttlStrategy:
    secondsAfterCompletion: {{ ttl_seconds }}
  volumeClaimGC:
    strategy: onWorkflowCompletion
  volumes:
  - name: workspace
    emptyDir: {}
  templates:
  - name: seekr-chain-main
    dag:
      tasks:
      {% for task in dag_tasks %}
      - name: {{ task.name }}
        template: {{ task.name }}
        {% if task.get('dependencies') %}
        dependencies:
        {% for dep in task.get('dependencies') %}
        - {{ dep }}
        {% endfor %}
        {% endif %}
      {% endfor %}
  {% for step in steps %}
  - name: {{ step.name }}
    metadata:
      labels:
        seekr-chain/system-pod: "false"
        seekr-chain/is-jobset: "true"
        seekr-chain/step: {{ step.name }}
        seekr-chain/jobset-name: {{ step.jobset_name }}
        seekr-chain/job-id: {{ job_id }}
        seekr-chain/job-name: {{ job_name }}
        seekr-chain/is-step-pod: "true"
    resource:
      action: create
      # Ensure the argo pod waits for the jobset to complete or fail
      successCondition: "status.terminalState == Completed"
      failureCondition: "status.terminalState == Failed"
      setOwnerReference: true  # Ensure kubernetes cleans this up when deleting the argo workflow
      manifest: |
        {{ step.jobset_yaml | indent(8) }}
  {% endfor %}
